* {
  font-family: 'Roboto', 'sans-serif';
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #F6FBFC;
}

.content {
  padding: 1rem;
  background-color: #FFF;
  height: 100vh;
}

@media screen and (min-width : 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}